---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Footer from "../components/Footer.astro";
---

<Layout title="Frontend Mentor | Designo Agency Website Challenge">
  <main></main>
  <Footer />
</Layout>

<style></style>
