---
import "@/styles/globals.css";
---

<footer
  class="flex h-[50.9375rem] flex-col items-center justify-center bg-[#1D1C1E] px-6 pb-16 pt-[15.81rem] text-[#fff]"
>
  <!-- Logo -->
  <div class="">
    <img
      src="/images/shared/desktop/logo-light.png"
      alt="logo"
      class="w-[12.625rem]"
    />
  </div>
  <div class=""></div>
  <div class=""></div>
  <div class=""></div>
  <div class=""></div>
</footer>
